.card {
  width: 35%;
  min-width: 250px;
  max-width: 400px;
  height: 350px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  flex-direction: column;
  background-color: #5db9ff;
  border-radius: 20px;
  user-select: none;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.card__title {
  margin-left: auto;
  margin-right: auto;
  /* text-transform: capitalize; */
}
.card__body {
  background-color: #ff1f1f;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #fbd743;
  border-top: 2px solid #fbd743;
  width: 90%;
  height: 65%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
.card__status {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}
.card__body > img {
  width: 175px;
}
.card__status__type {
  font-weight: bolder;
  padding: 5px;
  border-radius: 3px;
  margin: 4%;
  box-shadow: 3px 4px 14px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 4px 14px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 14px -2px rgba(0,0,0,0.75);
}
