.form__input {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  color: #fbd743;
  border: 2px solid #fbd743;
  border-radius: 12.5px;
  padding: 7.5px;
  text-align: center;
}

.form__input__btn {
  width: 100%;

  margin-top: 5px;
  border-radius: 10px;
  text-decoration: none;

  background-color: #5db9ff;
  border: 1.5px #fbd743 solid;
  font-weight: bolder;
}


.form__input__btn:hover {
  -xpedu-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  background-color: #fadb5e;
  transition: 0.035s ease-in;
}

.form__input__btn:active {
  -xpedu-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  background-color: #fbd743;
  transition: 0.03s ease-out;
}
