

.page__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #474c95;
  max-height: 900px;
  height: 95vh;
  min-height: 500px;
  width: 100%
}
